<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask MongoDB Example</title>
</head>
<body>
    <h1> This is the Two Tier Appication Project</h1>
    
    <form action="/" method="POST">
        <input type="text" name="message" placeholder="Enter your message" required>
        <button type="submit">Submit</button>
    </form>

    <ul>
        {% for message in messages %}
            <li>{{ message.Message }}</li>
        {% endfor %}
    </ul>
</body>
</html>
